[submodule "src/emotions"]
	path = src/emotions
	url = https://github.com/psychoinformatics-de/paper-f1000_gumpemotions
[submodule "src/locations"]
	path = src/locations
	url = https://github.com/psychoinformatics-de/studyforrest-paper-locationannotation.git
