[submodule "src/emotions"]
	path = src/emotions
	url = https://github.com/psychoinformatics-de/paper-f1000_gumpemotions
[submodule "src/locations"]
	path = src/locations
	url = https://github.com/psychoinformatics-de/studyforrest-paper-locationannotation.git
[submodule "src/semanticconflict"]
	path = src/semanticconflict
	url = https://github.com/psychoinformatics-de/studyforrest-paper-ironyannotation.git
[submodule "src/faces"]
	path = src/faces
	url = https://github.com/psychoinformatics-de/studyforrest-paper-faceannotation.git
[submodule "src/bodycontact"]
	path = src/bodycontact
	url = https://github.com/psychoinformatics-de/studyforrest-paper-bodycontactannotation.git
[submodule "src/speech"]
	path = src/speech
	url = osf://f5j3e
	datalad-id = cacc9298-faed-11e9-9b76-e86a64c80559
[submodule "src/confounds"]
	path = src/confounds
	url = https://github.com/psychoinformatics-de/studyforrest-data-confoundsannotation
	datalad-id = 5f4c2889-56f4-4ef2-81c7-ddf31c0059f7
